<?xml version="1.0"?>

<launch>
	<arg name="map" default="buvette" />
	<include file="$(find minilab_simulation)/launch/minilab_simulation.launch" >
		<arg name="map" value="$(arg map)" />
	</include>

	<node pkg="ex1" type="teleop_clavier" name="teleop_clavier" output="screen"/>
	<node pkg="gmapping" type="slam_gmapping" name="gmapping_thing"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find minilab_navigation)/gmapping.rviz" />

</launch>
